.numbers{
    font-size:100px;
}
button{
    background:none;
    border:2px solid black;
    border-radius: 7px;
    margin:20px;
}
.units{
    font-size:15px;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    

}